h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#377ba8;
    background-color:lightblue
}
form{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20pt;
    text-align: center;
    padding-left: 30%
    
}
input#centrar{
    text-align: center;
    min-width: 200px
}
body{
    text-align:center;
    background-attachment: fixed;
    
}
main{
    text-align: center;
}
table{
    text-align: center;
    /*position: absolute;*/
    width: 651px;
    height: 356px;
    
    /*top: 237px;*/
    background: white;
    border: 1px solid #330033;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
label{
    text-align: center;
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
    color: white;
}
/* Rectangle 10 

position: absolute;
width: 166px;
height: 30px;
left: 349px;
top: 242px;

background: #330033;
border-radius: 15px;
*/