* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #131212;
}

.form-register {
  width: 400px;
  background: #19F2F6;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  border: 3px solid black;
  font-family: 'calibri';
  color: black
  box-shadow: 8px 14px white:
  
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #24303c;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}